@import "/src/styles/base/mixins";
@import "/src/styles/base/variables";



.search {
  @include flex;
  &__paragraph {
    @include headline4;
  }
  &__group {
    &__icon {
      position: absolute;
      width: 23px;
      margin-top: 10px;
      margin-left: 10px;
    }
    &__input {
      width: 307px;
      height: 43px;
      background: #f3f5f7;
      border-radius: 15px;
      border: 0;
    }
  }
}

.card {
    width: 300px;
    height: 200px;
    margin-top: 12px;
    padding: 5px;
    border-radius: 5px;
    position: relative;

  &__footer{
    background: rgb(93 89 86 / 49%);
    border-radius: 2px;
    margin-left: -5px;
    position: absolute;
    width: 100%;
    bottom: 0;

    &__title {
      @include headline4;
      color: $white;
      margin-left: 8px;
    }
  }  
   
}

@media (max-width: 1024px) {
  
  .menu {
    @include flex;
    margin-top: 20px;
    &__item {
      width: 263px;
      height: 42px;
      background-color: #f3f5f7;
      border-radius: 15px;
      margin: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      a {
        @include body;
        margin-left: 10px;
        font-size: 19px;
        color: $gray2;
        text-decoration: none;
      }
    }
  }

  .cards {
    @include flex;
  }
  
}
