@import "/src/styles/base/mixins";
@import "/src/styles/base/variables";

@media (min-width: 1024px) {
    .header{
        
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 20px;
    }

    .menu{
        display: flex;
        justify-content: flex-end;
        &__icon{
            display: none;
        }

        a {
            @include body;
            margin-left: 10px;
            font-size: 19px;
            color: $gray2;
            text-decoration: none;
          }
    }



    .cards{
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       padding: 20px;
       column-gap: 6px;
    }
}
