@import "/src/styles/base/mixins";
@import "/src/styles/base/variables";



.search {
  @include flex;
  &__paragraph {
    @include headline4;
  }
  &__group {
    &__icon {
      position: absolute;
      width: 23px;
      margin-top: 10px;
      margin-left: 10px;
    }
    &__input {
      width: 307px;
      height: 43px;
      background: #f3f5f7;
      border-radius: 15px;
      border: 0;
    }
  }
}





.card {
  width: 285px;
    margin-top: 12px;
    height: 125px;
    padding: 5px;
    background: #F1B67D;
    border-radius: 5px;
    display: grid;
    grid-template-areas:
        "header article article2"
        "header article article2"
        "header footer footer";
    grid-template-rows: 80px 1fr 32px;
    grid-template-columns: 1fr 37% 12%;
    grid-row-gap: 10px;
    grid-column-gap: 7px;
  

  #title{
      grid-area: article;
  }

  #btnSave{
      grid-area:article2;
  }

  #header{
      grid-area: header;
  }

  #footer{
      grid-area: footer;
  }

  &__title {
    @include headline4;
    color: $white;
  }
  &__reads {
      @include body;
      color: $black;
      font-size: 14px;
      margin-top: -6px;
  }
  &__btnSave{
      margin-top: 4px;
  }

  &__image {
    width: 132px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 3px;
  }
}

@media (max-width: 1024px) {
  
  .menu {
    @include flex;
    margin-top: 20px;
    &__item {
      width: 263px;
      height: 42px;
      background-color: #f3f5f7;
      border-radius: 15px;
      margin: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      a {
        @include body;
        margin-left: 10px;
        font-size: 19px;
        color: $gray2;
        text-decoration: none;
      }
    }
  }

  .cards {
    @include flex;
  }
  
}
