.celebrity {
  display: grid;
  padding: 0 10%;
  margin-top: 30px;
}
.celebrity-info {
  grid-row: 2 / 3;
}
.celebrity-header {
  text-align: center;
}
.celebrity-header__name {
  max-width: 235px;
  margin: 0 auto;
}
.celebrity-header h2 {
  font-size: 3rem;
  font-weight: 900;
}
.celebrity-header p {
  position: relative;
  font-size: 1.4rem;
  text-align: end;
  transform: translateY(-10px);
  color: $primary-color;
}
.celebrity-header figure {
  width: 60%;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 30px;
  object-fit: cover;
}
.celebrity-header figure img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.celebrity-info {
  width: 100%;
  margin-bottom: 30px;
}
.celebrity-info__list {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  font-size: 1.4rem;
}
.celebrity-info__list li {
  overflow: hidden;
}
.celebrity--bio {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .celebrity {
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid $primary-color;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .celebrity-header figure {
    height: 200px;
  }
  .celebrity-info__list {
    grid-template-columns: repeat(3, 33%);
    text-align: center;
  }
}
