.celebrity {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 0;
  text-align: start;
}
.celebrity-image {
  padding: 20px;
}
.celebrity-desc > h2 {
  text-align: center;
}
.celebrity-desc ul {
  grid-template-columns: 1fr;
}
