.celebrity {
  display: grid;
  padding: 0 20px;
  margin-top: 30px;
}
.celebrity-info {
  grid-row: 2 / 3;
}
.celebrity-header {
  text-align: center;
}
.celebrity-header__name {
  max-width: 235px;
  margin: 0 auto;
}
.celebrity-header h2 {
  font-size: 5rem;
  font-weight: 900;
}
.celebrity-header p {
  position: relative;
  font-size: 1.6rem;
  text-align: end;
  transform: translateY(-10px);
  color: $primary-color;
}

.celebrity-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}
.celebrity-info {
  width: 100%;
  margin-bottom: 30px;
}
.celebrity-info__list {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  font-size: 2rem;
}
.celebrity-info__list li {
  overflow: hidden;
}
.celebrity-info__list li:last-child {
  grid-column: 1 / 3;
}
.celebrity-info__list b {
  display: block;
}
#artist--occupation {
  display: inline-block;
}
.celebrity--bio {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .celebrity {
    width: 85%;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 50px;
    border: 3px solid $primary-color;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .celebrity-header img {
    height: 300px;
    padding-right: 30px;
  }
  .celebrity-info__list {
    grid-template-columns: repeat(3, 33%);
    text-align: center;
  }
  .celebrity-info__list li:last-child {
    grid-column: 1 / 4;
  }
}
