@media (min-width: 1024px) {
  .artist {
    display: grid;
    border: 3px solid #F1B67D;
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 78px;
    margin-right: 78px;
    height: 80vh;
    grid-template-columns: 30% 65%;
    gap: 50px;
  
    &__sideAlbums{
        background: $primary-color;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        flex-direction: column;
        overflow: auto;
  
        &__title{
          font-size: 30px;
          text-align: center;
          padding: 10px;
          border-bottom: 1px solid $gray1;
        }
        div{
          margin-top: 15px;
          border-bottom: 1px solid $gray1;
        }
        p{
          @include body;
          font-size: 19px;
          text-align: center;
        }
    }
  
    &__info{
      display: flex;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 30px;
  
      &__title{
        @include headline1;
        text-align: center;
        font-size: 55px;
      }
  
      &__img{
        width: 500px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        margin-top: 30px;
      }
  
      &__songs{
        display: grid;
        grid-template-rows: 70px 70px;
        grid-template-columns: 33% 33% 33%;
        margin-top: 30px;
  
        div{
          @include flex;
  
          p{
            @include body;
            font-size: 19px;
          }
        }
      }
  
      &__sad{
        grid-column: 3;
      }
      &__albums{
        grid-row: 2;
        grid-column: 2;
      }
    }
  
    
  }
  
  .artist__sideAlbums::-webkit-scrollbar {
    background-color: rgb(236, 236, 236);
  }
  .artist__sideAlbums::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .artist__sideAlbums::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
  }
  .artist__sideAlbums::-webkit-scrollbar-thumb:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
  }
  .artist__sideAlbums::-webkit-scrollbar:vertical {
    width: 7px;
  }
  .artist__sideAlbums::-webkit-scrollbar:horizontal {
    display: none;
  }
}




