.artist {
  display: grid;
  grid-template-columns: 35% 50%;
  width: 100%;
  padding: 0px;
  grid-gap: 20px;
}
.artist figure {
  padding: 20px;
}
.artist-info__songs {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.album-container {
  max-height: 350px;
}
.album-card {
  max-width: 70%;
}
