@import './variables';

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin font{
    font-family: $font-jost;
    font-style: normal;
}

@mixin headline4 {
    @include font;
    font-weight: 600;
    font-size: 19px;
}

@mixin headline1 {
    @include font;
    font-weight: 600;
    font-size: 35px;
}

@mixin body{
    @include font;
    font-weight: 400;
}