// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

// Add styles variables

//Colors
$primary-color: #F1B67D;
$light-peach: #EAC39E;
$green: #08AEAF;
$light-green: #BCD3C7;
$white: #FFFFFF;
$gray1: #F3F5F7;
$gray2: #676161;
$black: #000000;

//fonts
$font-jost: 'Jost', sans-serif;
